<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Information</title>
</head>

<body style="font-family: Arial, sans-serif;">

    <table style="max-width: 600px; margin: 0 auto; padding: 20px; border-collapse: collapse; width: 100%;">
        <tr>
            <td style="text-align: center; background-color: #3498db; color: white; padding: 10px;">
                <h2>Password Information</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Dear {{name}},</p>
                <p>Your password has been reset. Here is your new password:</p>
                <p><strong>{{newPassword}}</strong></p>
                <p>Please ensure to change your password after logging in for security reasons.</p>
                <p>Best regards,<br> The vKardz Team</p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #f4f4f4; text-align: center; padding: 10px;">
                <p>If you have any questions, feel free to <a href="https://wa.me/916377256382">contact our support team</a>.</p>
            </td>
        </tr>
    </table>

</body>

</html>
