<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
</head>

<body style="font-family: Arial, sans-serif;">

    <table style="max-width: 600px; margin: 0 auto; padding: 20px; border-collapse: collapse; width: 100%;">
        <tr>
            <td style="text-align: center; background-color: #4CAF50; color: white; padding: 10px;">
                <h2>Registration Successful</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                {{!-- <p>Dear,</p> --}}
                <p>Thank you for registering with us. Your registration was successful!</p>
                <p>Your account details:</p>
                <ul>
                    {{!-- <li><strong>Username:</strong> {{username}}</li> --}}
                    <li><strong>Email:</strong> {{email}}</li>
                </ul>
                <p>Stay tuned for exciting updates and offers.</p>
                <p>Best regards,<br> The vKardz Team</p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #f4f4f4; text-align: center; padding: 10px;">
                <p>If you did not register on our platform, please <a href="https://wa.me/916377256382">contact us</a> immediately.</p>
            </td>
        </tr>
    </table>

</body>

</html>
